functional-annotation.wdl
ReadbasedAnalysisTasks.wdl
mbin_nmdc.wdl
misc_tasks.wdl
additional_qc.wdl
rfam.wdl
nmdc-metag_annotation.wdl
metat_assembly.wdl
jgi_assembly.wdl
metaT_part1.wdl
structural-annotation.wdl
metaT_part2.wdl
ReadbasedAnalysis.wdl
annotation_full.wdl
crt.wdl
run_stringtie.wdl
rqcfilter.wdl
feature_counts.wdl
map_hisat2.wdl
calc_scores.wdl
build_hisat2.wdl
trnascan.wdl
annotation_mt_full.wdl
genemark.wdl
to_json.wdl
prodigal.wdl
annotation.wdl
attic
